<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../static/design/css/styles.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600;700;800&display=swap"
    />
    <title>You Don't Know JS</title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link active" id="wheel" href="/wheel"
            >Spin the Wheel</a
          >
          <a class="nav-item nav-link" id="team" href="/team">About Us</a>
        </div>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Movie Wheel</h1>
        <br />
        <h3>
          Are you spending more time picking the movie than actually watching
          it? <i>Well, no more!</i>
          <br />
          Spin the wheel and find out what you are watching tonight!
        </h3>
      </div>
    </div>

    <div class="container">
    <div class="row" style="padding-top: 40px">
      <div class="col-md-12 text-center">
        <div id="chart"></div>
      </div>
      <div class="row mt-5">
        <div class="col-md-8 col-md-offset-2">
          <div id="p1"></div>
          <div id="p2"></div>
          <div id="p3"></div>
          <br />
          <div id="p4"></div>
          <div id="p5"></div>
          <div id="p6"></div>
          <br />
          <div id="p7"></div>
          <div id="p8"></div>
          <div id="p9"></div>
          <br />
          <div id="p10"></div>
          <div id="p11"></div>
          <div id="p12"></div>
        </div>
      </div>
    </div>
    </div>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v7.min.js charset="utf-8"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/design/js/wheel.js" charset="utf-8"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
