/* colorPalette= [
"#9e855c", // Dark tan brown
"#385963", // Dark slate blue
"#f7f9f5", // Light grayish white
"#17262a", // Dark slate gray
"#46656f", // Grayish teal
"#6a8a95", // Grayish blue
"#a5b7bd", // Light grayish blue
"#c5cfd3", // Light grayish blue-gray
"#c6b9a3", // Tan gray
"#d3c3b1", // a light beige color
"#b3c8c3", // a light blue-gray color
"#aa9e8f", // a warm brown-gray color
"#a5a5a5", // a medium gray color
"#9b4f47", // a deep red-brown color
"#8f979d", // a cool gray-blue color
"#7d9a9a", // a muted teal color
"#6b5b95", // a purple-blue color
"#5c5c5c", // a dark gray color
"#3f4238" // a dark olive-green color
]; */


body{
  font-family: "Fira Sans", sans-serif;
  color: #343A3F;
}

h1 {
  font-size: 5em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-family: "Rajdhani", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  color: #5c5c5c;
}

h3 {
  font-size: 1.7em;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
  line-height: 2em;
  color: #5c5c5c;
}

h4, .slice text {
  font-size: 1.5em;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
}

h5 {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h6 {
  font-size: 1.25em;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
}

.container > .row:not(:first-child):not(:last-child) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#sunburst-child-container {
  position: relative;
  width: 1200px;
  height: 1200px;
}

.card, .tooltip-container {
  display: none;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 !important;
  margin: 0 !important;
  max-width: 400px;
  position: absolute;
  left: -275px;
  top: -75px;
}

label {
  margin-right: 50px !important;
  margin-left: 5px !important;
} 

.headshots {
  text-align: center;
  margin: 40px 0;
}

.team-names {
  margin-top: 25px; /* Add some space between image and name */
}

.headshot-image {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  filter: grayscale(100%) brightness(1.2);
  transition: filter 0.3s ease;
}

.headshot-image:hover {
  filter: grayscale(0%) brightness(1);
}

#p1, #p4, #p7, #p10 {
  font-weight: 600;
}

#p2, #p5, #p8, #p11 {
  font-style: italic;
}





/* .container {
  max-width: 2400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-container {
  margin: 0 auto;
  padding: 20px;
  margin: 10px 0;
  border-bottom: 1px solid #eaeaea;
  text-align: center;
}

.chart-container:last-child {
  border-bottom: none;
}

#sunburst-parent-container {
  height: 100vw; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex; 
  height: 80vh;
  margin: 0;
  padding: 0;
} */

/* .selection-menu {
  margin-top: 40px;
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rotten-tomatoes-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center;
}

.stacked-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  display: flex;
  justify-content: center; /* Center the containers horizontally */
} */