/* Change background color*/
body {
    background-color: #ffffff;
}


#logo{
/*background: #4aaaa5;*/
height: 100%;
font-size: 34px;
font-weight: bold;
color: #8AAAE5;
font-family: Georgia, 'Times New Roman', Times, serif;
} 

.choose-platform{
    justify-content: center;

}